Repository dejan-xd-organization/NistagramSQLConnection, pull requests merged in 2021-08, with the labels that each got.

#2 Feature/sql connection
  .gitignore
  Context/DataContext.cs
  Migrations/20210813193856_Migrate.Designer.cs
  Migrations/20210813193856_Migrate.cs
  Migrations/DataContextModelSnapshot.cs
  Model/Address.cs
  Model/Role.cs
  Model/User.cs
  NistagramSQLConnection.csproj
  Service/Interface/IUserService.cs
  Service/UserServiceImpl.cs
  bin/Debug/net5.0/NistagramSQLConnection.deps.json
  bin/Debug/net5.0/NistagramSQLConnection.dll
  bin/Debug/net5.0/NistagramSQLConnection.pdb
  bin/Debug/net5.0/NistagramSQLConnection.runtimeconfig.dev.json
  bin/Debug/net5.0/NistagramSQLConnection.runtimeconfig.json
  bin/Debug/net5.0/ref/NistagramSQLConnection.dll
  obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
  obj/Debug/net5.0/NistagramSQLConnection.AssemblyInfo.cs
  obj/Debug/net5.0/NistagramSQLConnection.AssemblyInfoInputs.cache
  obj/Debug/net5.0/NistagramSQLConnection.GeneratedMSBuildEditorConfig.editorconfig
  obj/Debug/net5.0/NistagramSQLConnection.assets.cache
  obj/Debug/net5.0/NistagramSQLConnection.csproj.CoreCompileInputs.cache
  obj/Debug/net5.0/NistagramSQLConnection.csproj.FileListAbsolute.txt
  obj/Debug/net5.0/NistagramSQLConnection.csprojAssemblyReference.cache
  obj/Debug/net5.0/NistagramSQLConnection.dll
  obj/Debug/net5.0/NistagramSQLConnection.genruntimeconfig.cache
  obj/Debug/net5.0/NistagramSQLConnection.pdb
  obj/Debug/net5.0/ref/NistagramSQLConnection.dll
  obj/NistagramSQLConnection.csproj.nuget.dgspec.json
  obj/NistagramSQLConnection.csproj.nuget.g.props
  obj/NistagramSQLConnection.csproj.nuget.g.targets
  obj/project.assets.json
  obj/project.nuget.cache
Labels: US

#6 Close #5
  Model/User.cs
  NistagramSQLConnection.csproj
  Service/Interface/IUserService.cs
  Service/UserServiceImpl.cs
Labels: US

#7 (develop -> master) - End of Sprint 1
  .github/workflows/CI.yml
  .gitignore
  Context/DataContext.cs
  Dockerfile
  Migrations/20210813193856_Migrate.Designer.cs
  Migrations/20210813193856_Migrate.cs
  Migrations/DataContextModelSnapshot.cs
  Model/Address.cs
  Model/Role.cs
  Model/User.cs
  NistagramSQLConnection.csproj
  Service/Interface/IUserService.cs
  Service/UserServiceImpl.cs
Labels: user story, pull request, release

#14 find_all_users->develop Close #10
  NistagramSQLConnection.csproj
  Service/Interface/IUserService.cs
  Service/UserServiceImpl.cs
Labels: user story, pull request

#15 new_users -> develop Close #9
  NistagramSQLConnection.csproj
  Service/Interface/IUserService.cs
  Service/UserServiceImpl.cs
Labels: user story, pull request

#17 sonar_cloud -> develop Close #12
  Context/DataContext.cs
  Migrations/20210821105414_Migrations.Designer.cs
  Migrations/20210821105414_Migrations.cs
  Migrations/DataContextModelSnapshot.cs
  Model/Address.cs
  Model/Comment.cs
  Model/PostComment.cs
  Model/PostReaction.cs
  Model/Reaction.cs
  Model/Role.cs
  Model/User.cs
  Model/UserPost.cs
  NistagramSQLConnection.csproj
  Service/Interface/IPostService.cs
  Service/Interface/IUserService.cs
  Service/PostServiceImpl.cs
  Service/UserServiceImpl.cs
Labels: bug, documentation, pull request

#18 develop -> master Sprint 2 Release v1.0.1
  .github/workflows/CI.yml
  Context/DataContext.cs
  Migrations/20210813193856_Migrate.Designer.cs
  Migrations/20210813193856_Migrate.cs
  Migrations/DataContextModelSnapshot.cs
  Model/Address.cs
  Model/Comment.cs
  Model/PostComment.cs
  Model/PostReaction.cs
  Model/Reaction.cs
  Model/Role.cs
  Model/User.cs
  Model/UserPost.cs
  Model/WallPost.cs
  NistagramSQLConnection.csproj
  Service/Interface/IPostService.cs
  Service/Interface/IUserService.cs
  Service/PostServiceImpl.cs
  Service/UserServiceImpl.cs
Labels: bug, user story, pull request, release

#24 edit_user -> develop Close #22
  NistagramSQLConnection.csproj
  Service/IUserService.cs
  Service/Implementation/UserServiceImpl.cs
Labels: user story, pull request

#25 view_page -> develop Close #23
  Service/IPostService.cs
  Service/IUserService.cs
  Service/Implementation/PostServiceImpl.cs
  Service/Implementation/UserServiceImpl.cs
Labels: user story, pull request

#26 sonar_cloud -> develop Close #21
  Service/Implementation/PostServiceImpl.cs
  Service/Implementation/UserServiceImpl.cs
Labels: bug, documentation, pull request
